<h1>App Component --- Start</h1>

<p>{{ title }} app is running!</p>

<nav>
    <a routerLink='/parent' routerLinkActive='active'>Parent</a>
    <a routerLink='/employees' routerLinkActive='active'>Employee List</a>
    <a routerLink='/pipes' routerLinkActive='active'>Pipes</a>
    <a routerLink='/forms' routerLinkActive='active'>Forms</a>
    <a routerLink='/lifecycles' routerLinkActive='active'>Lifecycles</a>
    <a routerLink='/eager-loading' routerLinkActive='active'>Eager Loading</a>
    <a routerLink='/lazy-loading' routerLinkActive='active'>Lazy Loading</a>
    <a routerLink='/pre-loading' routerLinkActive='active'>Pre Loading</a>

</nav>

<router-outlet></router-outlet>

<h1>App Component --- End</h1>